body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("../img/man-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header_content {
  color: #ffffff;
  margin-left: 50px;
  padding-top: 70px;
  display: block;
}

.header_content h1 {
  font-size: 25px;
}

.header_content span {
  font-size: 30px;
}

.header_hide {
  display: none;
}